.counter {
  text-align: center;
}

button {
  border-radius: 1rem;
  font-size: 1.5rem;
  border-radius: 5%;
  border: none;
  margin: 2rem;
  padding: 1rem;
  background-color: var(--second-color-alt);
}

button:hover {
  font-size: 2rem;
  opacity: 50%;
}
